<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Vue To Do List</title>
</head>

<body>


    <div id="app">
        <h1>Vue To Do List</h1>
        <input type="text" v-model="newTodo" placeholder="Type a new todo" @keypress.enter="addTodo">
        <button @click="addTodo">Add⏬</button>
        <ul>
            <li v-for="(todo, i) in todos">
                <span :class="{'decor_text':todo.done}"> {{todo.text}} </span>
                <span class="icon_x" @click="canceltodo(i)">❌</span>
            </li>

        </ul>
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/app.js"></script>
</body>

</html>